.allcar-time {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
}
.allcar {
    width: auto;
    height: auto;
    padding: 10px;
    max-width: 1250px;
    background: rgb(228, 228, 228);
    border-radius: 10px ;
    border: none;
    outline: none; /* ลบเส้นขอบเมื่อคลิก */
    display: flex;
    margin-left: 10px;
    flex-wrap: wrap;
    box-shadow: 0px 4px 6px rgba(14, 13, 13, 0.2); /* เพิ่มเงากรอบ */
}

.carrental-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.carrental{
    background: rgb(228, 228, 228);
    max-width: 1250px;
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.card-car {
    display: flex;
    width: auto;
    height: auto;
    padding: 25px;
}

@media screen and (max-width: 585px){
    .card-car {
        display: inline;
    }
    .pic-car {
        text-align: center;
    }
    .allcar-time {
        display: inline;
    }
    img {
        border-radius: 15px;
    }
}
@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }

.pic-car img{
    max-width: 390px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    background: pink;
}

.carrental-detail {
    margin-left: 3.5rem;
    flex-wrap: wrap;
}

h4 {
    color: #0f2f76;
    font-size: 20px;
}





